.header {
	position: relative;
	left: 20px;
}

.faction-admin {
	position: relative;
	left: 20px;
	width: 75%;
}

.result-admin {
	position: relative;
	left: 20px;
	width: 50%;
}

.caster-admin {
	position: relative;
	left: 20px;
	width: 75%;
	height: 600px;
	overflow: scroll;
}

.record-area {
	width: 50%;
}

.table-of-contents {
	width: 30%;
}
