<!DOCTYPE html>
<html>
  <head>
      <title>Field Promotion Administration</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
    <body>
      <h2>Faction Administration</h2>
      <table class="table table-striped">
        <tr>
            <th width="45%">Faction Name</th>
            <th width="45%">Faction Abbrev</th>
            <th width="10%"></th>
        </tr>
        {% for faction in factions %}
          <tr>
            <th width="45%">{{faction.name}}</th>
            <th width="45%">{{faction.abbrev}}</th>
            <th width="10%"></th>
          </tr>
        {% endfor %}
        <form method="post">
            <tr>
                <td width="45%"><input type="text" NAME="factionName" size="40"></td>
                <td width="45%"><input type="text" NAME="factionAbbrev" size="10"></td>
                <td width="10%"><input type="submit" name = "add" value="Add" /></td>
            </tr>
        </form>
    </table>
    </body>
</html>