<!DOCTYPE html>
<meta name="viewport" content="width=400">
<html>
  <head>
      <title>Field Promotion Administration</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
  </head>
    <body>

    <div class="result-admin">
            <h2>Result Administration</h2>
            <table class="table table-striped">
              <tr>
                  <th>Result Name</th>
                  <th>Victory?</th>
                  <th>Draw?</th>
                  <th>Teaching?</th>
                  <th></th>
              </tr>
              {% for result in results %}
                <tr>
                  <th>{{result.name}}</th>
                  <th>{{result.won}}</th>
                  <th>{{result.draw}}</th>
                  <th>{{result.teaching}}</th>
                  <th></th>
                </tr>
              {% endfor %}
            </table>
          </div>

        <div class="header"><h2>Warcaster/Warlock Administration</h2></div>
        <div class="caster-admin">
          <table class="table table-striped">
          {% for caster in casters %}
            <tr>
              <th>{{caster}}</th>
              <th></th>
            </tr>
          {% endfor %}
        </table>
      </div>
      </div>
      
      <div class="faction-admin">
        <h2>Faction Administration</h2>
        <table class="table table-striped">
          {% for faction in factions %}
            <tr>
              <th>{{faction}}</th>
              <th></th>
            </tr>
          {% endfor %}
        </table>
      </div>

      
    </body>
</html>