<!DOCTYPE html>
<meta name="viewport" content="width=400">
<html>
  <head>
      <title>Field Promotion</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
  </head>
    <body>
      <h2>Field Promotion Options</h2>
      <br>
      <div class="table-of-contents">
      <table class="table">
        <tr>
          <td>View Games</td>
          <td><form method="post"><input class="front-page-button"  type="submit" name="direction" value="View" /></form></td>
        </tr>

        <tr>
          <td>Search Games</td>
          <td><form method="post"><input class="front-page-button"  type="submit" name="direction" value="Search" /></form></td>
        </tr>

        <tr>
          <td>Record Games</td>
          <td><form method="post"><input class="front-page-button"  type="submit" name="direction" value="Record" /></form></td>
        </tr>
        {% if admin %}
        <tr>
          <td>Administration</td>
          <td><form method="post"><input class="front-page-button"  type="submit" name="direction" value="Admin" /></form></td>
        </tr>
        {% endif %}
      </table>
  </div>
    </body>
</html>