{% extends "base.html" %}
  {% block content %}
    <script type="text/javascript" src="js/record.js"></script>
    <div class="record-area">
        <h2 class="Record-Game-Title">Record Game Result</h2>
        <table class="table table-striped">
	        <form method="post">

	        	  <tr>
	        	  	<td>Game Date:</td> 
	        	  	<td class="record-item"><input type="text" id="datepicker" name="date"/></td>
	        	  </tr>

	              <tr>
	              	<td>Your Faction: 
	              	<td class="record-item"><select id="userFaction" name="userFaction">
	              </select>
	              </tr>

	              <tr>
	              	<td>Your Caster: </td> 
	              	<td class="record-item"><select id="userCaster" name="userCaster">
	              </select></td> 
	              </tr>

	              
	              <tr>
	              	<td>Opponent Name:</td>
	              	<td class="record-item"><input type="text" name="opponentName" size="40"></td> 
	              <br>

	              <tr>
	              	<td>Opponent Faction: </td> 
	              	<td class="record-item"><select id="opponentFaction" name="opponentFaction">
	              </select></td> 
	              </tr>

	              <tr>
	              	<td>Opponent Caster: </td> 
	              	<td class="record-item"><select id="opponentCaster" name="opponentCaster">
	              </select></td> 
	              </tr>

	              <tr>
	              	<td>Point Level: </td> 
	              	<td class="record-item"><input type="text" name="pointLevel" size="10"></td> 
	              </tr>

	              
	              <tr>
	              	<td>Result: </td> 
	              	<td class="record-item"><select id="result" name="result">
	              </select></td> 

	              <tr>
	              	<td>Submit: </td> 
	              	<td class="record-item"><input type="submit" name="game" value="Submit Game" /></td>
	          </tr>
          </form>
      	</table>
      </div>

{% endblock %}
